name: Deploy MkDocs
on:
  push:
    branches:
      - main  # Trigger on push to main branch
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - run: pip install mkdocs-material # and any other plugins you use
      - run: mkdocs gh-deploy --force